* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.logo {
    width: 240px;
    display: block;
    margin: 0 auto;
}

.box-ex {
    background-color: #f0f2f5;
    padding-bottom: 80px;
    padding-top: 30px;
}
.box-in {
    display: block;
    width: 396px;
    margin: 0 auto;
}
.box_container {
    background-color: white;
    padding: 20px 10px;
    border-radius: 10px;
}
.header_block {
    font-size: 18px;
    color: #1c1e21;
    text-align: center;
    padding-bottom: 10px;
}
#userInfo, #password {
    width: 320px;
    padding: 14px 16px;
    margin: 10px;
    border: 1px solid #b6b9bc;
    border-radius: 5px;
    font-size: 16px;
    
}

#submit {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #166fe5;
    width: 354px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.linkinform {
    padding-left: 45px; 
}
.linkinform > a {
    text-decoration: none;
    font-size: 14px;
    color: #1877f2;
}

li{
    list-style-type: none;
    display: inline;
    padding-right: 12px;
    color: #737373;
    font-size: 12px;
}

.copyright {
    margin-top: 14px;
    margin-bottom: 10px;
    color: #737373;
    font-size: 12px;
}
li:hover {
    text-decoration: underline;
}
ul {
    text-indent: 0;
    padding: 0;
}
.footer {
    padding-top: 100px;
    width: 90%;
    margin: 0 auto;
}
.contentCurve {
    border-bottom: 1px solid #dddfe2;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 8px;
}