html {
  font-size: 16px;
}

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-size: 0.875rem;
  color: #1877f2;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  padding-right: 0.75rem;
  font-size: 0.75rem;
}

li:hover {
  text-decoration: underline;
}

.logo {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.box-ex {
  background-color: #f0f2f5;
  padding: 5rem 0.9375rem 2rem;
}
.box-in {
  max-width: 28rem;
  margin: 0 auto;
}
.box_container {
  background-color: white;
  padding: 1.25rem 2rem;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.title {
  font-size: 1.125rem;
  color: #1c1e21;
  font-weight: 400;
}

.login_form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.login_form > input {
  width: 100%;
  padding: 0.875rem 1rem;
  border: 1px solid #b6b9bc;
  border-radius: 5px;
  font-size: 1rem;
}

.submit_btn {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  background-color: #166fe5;
  padding: 0.625rem;
  margin-top: 0.75rem;
  border-radius: 5px;
  border: none;
}

.links {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.625rem;
}

/* --------------------------------------- */
.footer {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: start;
  color: #737373;
  padding-top: 3.75rem;
  width: 90%;
  margin: 0 auto;
}

.copyright {
  margin-top: 0.875rem;
  margin-bottom: 0.625rem;
  font-size: 0.75rem;
}

.contentCurve {
  border-bottom: 1px solid #dddfe2;
  width: 100%;
  display: block;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
